@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.Simplify.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>@T("Plugins.Payments.Simplify.Notes")</b>
                </p>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LiveMode_OverrideForStore, model => model.LiveMode, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.LiveMode)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.LiveMode)
                        @Html.ValidationMessageFor(model => model.LiveMode)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.HostedMode_OverrideForStore, model => model.HostedMode, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.HostedMode)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.HostedMode)
                        @Html.ValidationMessageFor(model => model.HostedMode)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.SandboxPublicKey_OverrideForStore, model => model.SandboxPublicKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.SandboxPublicKey)
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.SandboxPublicKey, new { size = "70" })
                        @Html.ValidationMessageFor(model => model.SandboxPublicKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.SandboxPrivateKey_OverrideForStore, model => model.SandboxPrivateKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.SandboxPrivateKey)
                     </div>
                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.SandboxPrivateKey, new { @size = "70", @value=Model.SandboxPrivateKey })
                        @Html.ValidationMessageFor(model => model.SandboxPrivateKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LivePublicKey_OverrideForStore, model => model.LivePublicKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.LivePublicKey)
                     </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.LivePublicKey, new { size = "70" })
                        @Html.ValidationMessageFor(model => model.LivePublicKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.LivePrivateKey_OverrideForStore, model => model.LivePrivateKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.LivePrivateKey)
                     </div>
                    <div class="col-md-9">
                        @Html.PasswordFor(model => model.LivePrivateKey, new { @size = "70", @value=Model.LivePrivateKey })
                        @Html.ValidationMessageFor(model => model.LivePrivateKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.DebugEnabled_OverrideForStore, model => model.DebugEnabled, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.DebugEnabled)
                     </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.DebugEnabled)
                        @Html.ValidationMessageFor(model => model.DebugEnabled)
                    </div>
                </div>
               <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}